body {
	background-color: #222;
	height: 100vh;
	overflow-x: hidden;
}

div {
	font-family: Source Code Pro, Courier;
	color: #eee;
}

a {
	color: #aae;
}

.title_type {
	left: 2em;
}

#name {
	position: absolute;
	top: 21.5em;
}

#name_content, #name_cursor {
	font-size: 2.3em;
}

.greeting {
	font-size: 1.5em;
}

#img_container_1 {
	position: relative;
	left: 2em;
}

#img_1 {
	position: absolute;
	border-radius: 100%;
	max-width: 19.18em;
	border: 0.6vh solid #a88;
}

