<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title>Gurmehar Singh</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/body.css">

		<link rel="icon" type="image/jpg" href="./images/gs.jpg">
		<!--<link rel="favicon" href="https://www.cs.purdue.edu/news/articles/2023/images/gurmehar-singh-1000jpg.jpg" type="image/x-icon">-->
	</head>

	<body>
		<div id="wrapper">
			<div id="img_container_1">
				<img id="img_1" src="/images/gs3.jpg">
			</div>


			<div id="name" class="title_type">
				<span id="name_content"></span><span id="name_cursor" class="text_cursor">_</span>
				<br>
				<br>
				<span class="greeting" id="greet_en"></span>
				<br>
				<span class="greeting" id="greet_hn"></span>
				<br>
				<span class="greeting" id="greet_pn"></span>
				<br>
				<span class="greeting" id="greet_ur"></span>
				<br>
				<span class="greeting" id="greet_sp"></span>
				<br>
				<span class="greeting" id="greet_ar"></span>
				<br>
				<span class="greeting" id="greet_pr"></span>
				<br>
				<a target="_blank" href='https://krnlang.com'><span id="greet_krn"></span></a>
			</div>


			<div id="intro" class="para">
				<div class="paratext col2" style="z-index: 0">
					Hey there, I'm Gurmehar Singh -- thanks for stopping by!
					<br>
					<br>
					I'm an undergraduate student at Purdue University with a double-major in computer science and mathematics. I just finished up my second year, and am currently in Redmond, Washington working at SpaceX on the Starlink Network Engineering team. Specifically, I'm working to help develop and scale the ground infrastructure of the Starlink network to help bring high-bandwidth, low-latency internet to rural areas.
					<br>
					<br>
					My interests tend to jump from field to field -- astrophysics, linguistics, music, and more -- and that's why I chose computer science and math as my fields of study. Whatever I want to do, I can probably get a computer to help me do it. (And there's probably a neat equation that represents that process.)
					<br>
					<br>
					Depending on how frequently I update this site, more active updates on what I'm up to will probably be on my <a target="_blank" href="https://linkedin.com/in/gurmehars">LinkedIn</a>.
					<br>
					<br>
				</div>

				<div class="paratext col2" style="z-index: -1">
					 <img id="gs5" src="/images/gs5.jpg">
				</div>

			</div>

			<br><br>

			<div id="t2020" class="para">
				<div class="paratitle">
				</div>

				<br>

				<div class="paratext col2">

				</div>

                                <div class="paratext col2">

                                </div>  
			</div>

			<br><br>

			<div id="t2018-2020" class="para">
				<div class="paratitle">
					2018 - 2020
				</div>

				<br>

				<div class="paratext col2">
					I've been writing code for about as long as I can remember -- but the first time I began using software to solve problems with a real impact came around 2018, when I joined a program called the Pulsar Search Collaboratory, or the PSC. The PSC took processed data from the Green Bank Telescope (GBT) in West Virginia and let students try to find pulsars -- rotating neutron stars -- which are effectively the "corpses" of massive stars.
				
					<br><br>

					These stellar corpses spin remarkably fast and emit radiation from their poles -- if you take a look at the GIF on the right, you'll see roughly how they look in the radio part of the electromagnetic spectrum. As they rotate, their emission crosses our line of sight. We register this as a pulse or blip in our radio telescopes.
					
					<br><br>

					If we point a telescope at an unexplored region of the sky and collect data, we can try to filter for good candidates that might be new pulsars -- but that still leaves a lot of data for us! I decided to try and cut down the already-processed data we received using some different algorithmic approaches. You can take a look at the resulting paper and code  <a target="_blank" href="https://arxiv.org/abs/2004.07865">here</a> and <a target="_blank" href="https://github.com/gsingh-0-0-1/PRASSE">here</a>.

				</div>

				<div class="paratext col2">
					<img id="greenbank1" src="/images/greenbank1.JPG">
					<img id="pulsargif" style="width: 100%;" src="/images/pulsar.gif">
					<label for="pulsargif" class="caption">Animation of how we receive a pulsar signal</label>
				</div>

			</div>
		</div>
	</body>

	<script src="js/main.js">

	</script>
</html>
