<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title>Gurmehar Singh</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="css/main.css">

		<link rel="icon" type="image/jpg" href="./images/gs.jpg">
		<!--<link rel="favicon" href="https://www.cs.purdue.edu/news/articles/2023/images/gurmehar-singh-1000jpg.jpg" type="image/x-icon">-->
	</head>

	<body>
		<div id="img_container_1">
			<img id="img_1" src="/images/gs3.jpg">
		</div>

		<br>

		<div id="name" class="title_type">
			<span id="name_content"></span><span id="name_cursor" class="text_cursor">_</span>
		</div>

		<br>

		<div id="greeting" class="title_type">
			<span id="greet_en"></span>
			<br>
			<span id="greet_hn"></span>
			<br>
                        <span id="greet_pn"></span>
                        <br>
			<span id="greet_ur"></span>
			<br>
			<span id="greet_sp"></span>
			<br>
			<span id="greet_ar"></span>
                        <br>
			<span id="greet_pr"></span>
			<br>
			<a target="_blank" href='https://krnlang.com'><span id="greet_krn"></span></a>
		</div>


		<div id="intro">
			Hey there, I'm Gurmehar Singh -- thanks for stopping by!
			<br>
			<br>
			I'm an undergraduate student at Purdue University with a double-major in computer science and mathematics. I just finished up my second year, and am currently in Redmond, Washington working at SpaceX on the Starlink Network Engineering team. Specifically, I'm working to help develop and scale the ground infrastructure of the Starlink network to help bring high-bandwidth, low-latency internet to rural areas.
			<br>
			<br>
			My interests tend to jump from field to field -- astrophysics, linguistics, music, and more -- and that's why I chose computer science and math as my fields of study. Whatever I want to do, I can probably get a computer to help me do it. (And there's probably a neat equation that represents that process.)
			<br>
			<br>

		</div>
	</body>

	<script src="js/main.js">

	</script>
</html>
