<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LXF984KFPN"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-LXF984KFPN');
		</script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title>Gurmehar Singh</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/body.css">

		<link rel="icon" type="image/jpg" href="./images/gs.jpg">
		<!--<link rel="favicon" href="https://www.cs.purdue.edu/news/articles/2023/images/gurmehar-singh-1000jpg.jpg" type="image/x-icon">-->
	</head>

	<body>
		<div id="wrapper">
			<div id="img_container_1">
				<img id="img_1" src="/images/gs_dsai.png">
			</div>


			<div id="name" class="title_type">
				<span id="name_content"></span><span id="name_cursor" class="text_cursor">_</span>
				<br>
				<br>
				<span class="greeting" id="greet_en"></span>
				<br>
				<span class="greeting" id="greet_hn"></span>
				<br>
				<span class="greeting" id="greet_pn"></span>
				<br>
				<span class="greeting" id="greet_ur"></span>
				<br>
				<span class="greeting" id="greet_sp"></span>
				<br>
				<span class="greeting" id="greet_ar"></span>
				<br>
				<span class="greeting" id="greet_pr"></span>
				<br>
				<span class="greeting" id="greet_tr"></span>
				<br>
				<a target="_blank" href='https://krnlang.com'><span id="greet_krn"></span></a>
			</div>


			<div id="intro" class="para">
				<div class="paratext col2" style="z-index: 0">
					Hey there, I'm Gurmehar Singh -- thanks for stopping by!
					<br>
					<br>
					I'm an undergraduate student at <span class="keywords">Purdue University</span> with a double-major in computer science and mathematics, in my third (but final!) year. This past summer I was in Redmond, Washington working at <span class="keywords">SpaceX</span> on the <span class="keywords">Starlink Ground Network Engineering</span> team. I'm planning to head there after my graduation in May to start working full-time.
					<br>
					<br>
					My work varies from things like <span class="keywords">automating configuration changes to Starlink servers worldwide</span> to creating mathematical models to provide <span class="keywords">low-error predictions of customer growth</span>. These models in turn let us buy hardware at the optimal time to scale our network and save the entire company quite a lot of money -- all with the goal of providing <span class="keywords">reliable, low-latency</span> internet around the globe.
					<br>
					<br>
					<br>
					<br>
					<br>
					Before Starlink, I spent a few years working at the <a href="https://seti.org" target="_blank">SETI Institute</a> to refurbish the Allen Telescope Array in Northern California, building infrastructure like <span class="keywords">databases for high-throughput observations</span> to more design-focused areas like <span class="keywords">creating easy-to-parse displays for critical health metrics</span>. If you ever pay a visit to the ATA, you might see some of the software I wrote running on one of the screens in the observation control room.
					<br>
					<br>
					One of the most interesting projects I worked on at the ATA was <span class="keywords">a system to track satellites in near real-time</span> as they passed overhead. Using three of the 42 6.1-meter diameter dishes at the ATA, I was able to <span class="keywords">automatically take snapshots of the sky overhead</span> every few hours and programmatically search the resulting data for instances of spikes in the power, or temperature, we observe in the sky. We then match the exact location and time of those spikes to the locations of known satellites, allowing us to <span class="keywords">track these satellites and identify sources of radio interference</span> in our observations.
					<br>
					<br>
					<br>
					<br>
					<br>
					My interests tend to jump from field to field -- astrophysics, linguistics, music, and more -- and that's why I chose computer science and math as my fields of study. Whatever I want to do, I can probably get a computer to help me do it. (And there's probably a neat equation that represents that process.)
					<br>
					<br>
					I've spent some of my free time <a target="_blank" href="https://gensgrandis.onrender.com">developing a video game</a>, along with a fully original soundtrack -- keep in mind that this was a while ago, so more modern browsers may have trouble supporting the game and there may be bugs!
					<br>
					<br>
					Languages are fascinating to me -- I grew up speaking English, Hindustani (Hindi/Urdu), and Punjabi. I've managed to retain a decent bit of middle school Spanish, taught myself some Arabic (!شويه بس) and a little Farsi. I took Latin and high school and spent a summer learning Ancient Sumerian, but don't remember much of either of those. (surprise surprise, no one speaks them!) I've also <a target="_blank" href="https://krnlang.com">designed a language of my own</a>.
					<br>
					<br>
					<br>
					<br>
					<br>
					When I've got some downtime, I enjoy bouldering, learning a new language (still working on Farsi, but Turkish and Armenian are on my to-do), or playing the piano -- whether it's old Persian classics like Gol-e-Goldoon or modern masterpieces like Hans Zimmer's Day One from Interstellar. I'll occasionally bring out my alto sax and play through some Charlie Parker or even your run-of-the-mill 12-bar blues.
					<br>
					<br>
					If you've made it all the way to the end, thanks for your time! Hopefully you'll stop by again and see any updates I've added here. 
				</div>

				<div class="paratext col2" style="z-index: -1">
					<img class="bgimg" id="gs6" src="/images/gs6.jpg">
					<img class="bgimg" id="ata2" src="/images/ata1.jpg">
					<img class="bgimg" id="vim1" src="/images/vim1.png">
					<img class="bgimg" id="gs_dsai_2" src="/images/gs_dsai_2.jpg">
					<!--<img class="bgimg" id="starlink_outside" src="/images/starlink_outside.jpeg">-->
				</div>

			</div>

			<br><br>



		</div>

		<div id="presence">
			<a href="https://www.linkedin.com/in/gurmehars/" target="_blank"><img class="bgimg" id="li_logo" src="/images/li_logo.png"></a>
			<a href="https://github.com/gsingh-0-0-1" target="_blank"><img class="bgimg" id="github_logo" src="/images/github_logo.png"></a>
		</div>
	</body>

	<script src="js/main.js">

	</script>
</html>
